body {
  width: 1600px;
  height: 7335px;
}

header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("Images/Banner.png");
  background-size: cover;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  background-repeat: no-repeat;
  margin: 0 auto;

}

/* Banner Text Style */
.banner-text {
  /* margin: 50px 140px; */
}

.banner-subtitle {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-top: 170px;
}

.banner-title {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
  margin: 0 auto;
}

/* Deals Section Design */
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.deals-heading {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}

.deals-text {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.deals-footer {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}

.deals-image {
  width: 802.9px;
  height: 500px;
}

/* New Year party section Design */
.party {
  display: flex;
  margin: 120px 140px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("Images/Vectorrr.png");
  align-items: center;
}

.partyText {
  margin-left: 126px;
}

.partyText-heading {
  color: #FFF;
  width: 642px;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.partyText-para {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.partyText-btn {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.Party-Image {
  display: flex;
  width: 319.83px;
  height: 464.662px;
  padding: 0.008px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* Bonus Section Design */
.event {
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  width: 1320px;
  height: 482px;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  padding: 100px 385px 0;
}

.date-time {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  text-transform: capitalize;
}

.event-time {
  color: #F00;
}

.join-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F00;
}

/* Bonus Section2 design */
.round {
  display: flex;
  align-items: center;
  margin: 120px 140px 0;
  width: 1320px;
  height: 463px;

}

.round-text1 {
  padding-right: 50px;
  justify-content: left;
}

.text1-subheading {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: left;
  padding-left: 0px;
  margin-left: 0px;
}

.text1-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.text1-para {
  color: rgba(7, 2, 17, 0.60);
  width: 393px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.round-image {
  padding: 0 100px;
  max-width: 463px;
  max-height: 463px;

}

.round-image img {
  width: 363px;
  height: 363px;
  margin-top: 50px;
  border-radius: 50%;
  border: 15px solid #F00;
  padding: 60px;
}

.text2 {
  padding-left: 30px;
}

.text2-year {
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 30px;
  padding-top: 50px;
}

.text2-para {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  width: 276px;
  padding-left: 30px;
}

.text2__image {
  width: 140px;
  height: 140px;
  padding-left: 30px;
}


/* Portfolio Section Design */

.Portfolio {
  margin: 120px 140px;
}


.Portfolio-subheading {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.Portfolio-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.Portfolio-para {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 700px;
}



.Portfolio-images {
  display: flex;
  max-width: 1320px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.PortfolioImage {
  max-width: 31.05%;
  height: 450px;
  margin: 30px;
  margin-left: 0;
}

.PortfolioImage:hover {
  box-shadow: 3px 3px 4px black;
}

/* Newsletter Section Design */
.newsletter {
  width: 1320px;
  height: 616px;
  position: relative;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 0 auto;
}

.email-icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding-top: 80px;
  top: 20px;
  margin-bottom: 0;
}

.newsletter-heading {
  margin-top: 80px;
  margin-bottom: 10px;
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.newsletter-para {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}

#email-subscribe {
  margin: 45px 335px 80px 335px;
  display: flex;
}

#user-email {
  width: 648px;
  height: 72px;
  border-radius: 50px 0 0 50px;
  background: #FFF;
}

input[placeholder] {
  color: rgba(7, 2, 17, 0.30);

  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

#subscriber {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #F00;
  font-size: 15px;
}


/* Footer Section Designed */
footer {
  width: 1600px;
  height: 700px;
  background: #070211;
}

#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addresss {
  color: #FFF;
  width: 375px;
  height: 80px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  padding: 120px 0 50px 140px;
  /* 166.667% */
}

.tele-web {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  padding: 120px 290px 0 0;
  /* 166.667% */
}

.web {
  padding-bottom: 50px;
}

hr {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

#icon {
  display: flex;
  justify-content: center;
}

.marka {
  width: 64px;
  height: 64px;
  padding: 10px;
  margin: 35px 0;
}

.copy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  color: #FFF;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 50px 0 120px 140px;
}

#unsubs {
  color: #FFF;
  padding: 50px 140px 120px 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}