body{
  margin: 0 140px;
}

header{
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("Images/Banner.png");
  background-size: cover;
  /* filter: brightness(70%); */
  height: 600px;
  border-radius: 16px;
  margin-top: 50px;
}